www/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>yozer</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='assets/default.css' rel='stylesheet' type='text/css'>
    <link href='assets/favicon.png' rel='shortcut icon'>
  </head>
  <body style='background-color:black;'>
    <div id='content'>
      <div class='clearfix' id='tabs'>
        <button class='tab' id='dents'>Dents</button>
        <button class='tab' id='mentions'>Mentions</button>
        <button class='tab' id='settings'>Settings</button>
        <button class='tab' id='new_dent'>New Dent</button>
      </div>
      <div id='tabs_content'>
        <div class='tab_content' id='dents_content'>
          <div class='scroller' id='dents_list_wrapper'>
            <div id='dents_list'></div>
          </div>
        </div>
        <div class='tab_content' id='mentions_content'>
          <div class='scroller' id='mentions_list_wrapper'>
            <div id='mentions_list'></div>
          </div>
        </div>
        <div class='tab_content' id='settings_content'>
          <div id='authenticate'>
            <table>
              <tr>
                <td>Service:</td>
                <td>
                  <input name='service' type='text'>
                </td>
              </tr>
              <tr>
                <td>Name:</td>
                <td>
                  <input name='username' type='text'>
                </td>
              </tr>
              <tr>
                <td>Pass:</td>
                <td>
                  <input name='password' type='password'>
                </td>
              </tr>
              <tr>
                <td colspan='2'>
                  <button name='submit'>
                    Submit
                  </button>
                </td>
              </tr>
            </table>
            <div class='info'>
              Yozer utilizes
              <a href='https://en.m.wikipedia.org/wiki/Web_storage'>
                localStorage
              </a>
              for storing user data.
              <br>
              <button id='clear_localstorage'>Clear Data</button>
            </div>
          </div>
        </div>
        <div class='tab_content' id='new_dent_content'>
          <div id='new_dent'>
            <form id='new_dent_form'>
              <div id='in_reply_to'></div>
              <table>
                <tr id='new_dent_reply_to'>
                  <td>Reply To:</td>
                  <td id='new_dent_reply_to_name'></td>
                </tr>
                <tr>
                  <td>Dent:</td>
                  <td>
                    <textarea name='status' rows='6'></textarea>
                  </td>
                </tr>
                <tr>
                  <td>File:</td>
                  <td>
                    <input id='file_upload' name='attach' type='file'>
                  </td>
                </tr>
              </table>
            </form>
            <button name='submit'>
              Submit
            </button>
            <button name='clear'>
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- /this is a comment -->
  <script src='assets/js/jquery-1.11.2.min.js' type='text/javascript'></script>
  <script src='assets/js/yozer.js' type='text/javascript'></script>
  <script src='assets/js/helper.js' type='text/javascript'></script>
</html>

src/index.haml
!!! 5
%html
	%head
		%title yozer
		%meta{:charset=>"utf-8"}
		%meta{:content=>'width=device-width, initial-scale=1.0', :name=>'viewport'}
		%link{:rel => :stylesheet, :type => "text/css", :href => "assets/default.css"}
		%link{:rel => "shortcut icon", :href => "assets/favicon.png"}
	%body{:style=>"background-color:black;"}
		#content
			#tabs.clearfix
				%button.tab#dents Dents
				%button.tab#mentions Mentions
				%button.tab#settings Settings
				%button.tab#new_dent	New Dent

			#tabs_content
				.tab_content#dents_content
					#dents_list_wrapper.scroller
						#dents_list

				.tab_content#mentions_content
					#mentions_list_wrapper.scroller
						#mentions_list

				.tab_content#settings_content
					#authenticate
						%table
							%tr
								%td Service:
								%td
									%input{:type=>'text', :name=>'service'}
							%tr
								%td Name:
								%td
									%input{:type=>'text', :name=>'username'}
							%tr
								%td Pass:
								%td
									%input{:type=>'password', :name=>'password'}
							%tr
								%td{:colspan => 2 }
									%button{:name => 'submit'}
										Submit

						.info

							Yozer utilizes
							%a{:href=>'https://en.m.wikipedia.org/wiki/Web_storage'}
								localStorage
							for storing user data.
							%br
							%button{:id=>'clear_localstorage'} Clear Data


				.tab_content#new_dent_content
					#new_dent
						%form#new_dent_form
							#in_reply_to
							%table
								%tr{:id=>'new_dent_reply_to'}
									%td Reply To:
									%td{:id=>'new_dent_reply_to_name'}
								%tr
									%td Dent:
									%td
										%textarea{:name=>'status', :rows=>6}
								%tr
									%td File:
									%td
										%input{:type=>"file", :name=>"attach", :id=>'file_upload'}

						%button{:name => 'submit'}
							Submit

						%button{:name => 'clear'}
							Clear

	//this is a comment
	%script{:type => "text/javascript", :src  => "assets/js/jquery-1.11.2.min.js"}
	%script{:type => "text/javascript", :src  => "assets/js/yozer.js"}
	%script{:type => "text/javascript", :src  => "assets/js/helper.js"}
